:root {
    --color-primary: #ff0000;
    --color-secondary: #00ff00;
    --color-tertiary: #0000ff;
}
.container {
    min-width: 375px;
}
.section {
    width: 100%;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
    box-sizing: border-box;
}
.h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
}
.h2-semi-bold{
    font-family: IC Pangea Text, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0;
    text-align: center;
}

.h4 {
    font-family: IC Pangea Text, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
}
.h4-semi-bold {
    font-family: IC Pangea Text, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
}
.h4-semi-bold{
    font-family: IC Pangea Text, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;

}
.h3 {
    font-family: IC Pangea Text, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    text-align: center;
}
.h3-semi-bold {
    font-family: IC Pangea Text, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0;
    text-align: right;

}

.h5 {
    font-family: IC Pangea Text, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: right;
}
.h5-semi-bold {
    font-family: IC Pangea Text, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    text-align: right;
}
.h6 {
    font-family: IC Pangea Text, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
}
/*Typography end*/


.link {
    font-family: IC Pangea Text, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
}
.link-2 {
    font-family: IC Pangea Text, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
    color: #000000
}

.button {
    background: #8026FF;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 32px;
    gap: 16px;
    width: 100%;
    max-width: 350px;
    height: 52px;
    color: #ffffff;
    flex-grow: 1;
}

/*widgets*/
/*Spoiler*/
.spoiler {
    overflow: hidden;
    max-height: 54px;
    transition: max-height 0.3s ease-in-out;
    border-bottom: 1px solid #101820;
}
.spoiler.open {
    max-height: 500px;
    transition: max-height 0.3s ease-in-out;
}
.spoiler__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 16px 24px;
    background: #ffffff;
    margin-bottom: 16px;
}
.spoiler__content {
    padding: 16px 24px;
    background: #ffffff;
    border-radius: 4px;
    margin-bottom: 16px;
}

.spoiler__arrow {
    transform: rotate(360deg);
    transition: transform 0.3s ease-in-out;
}

.spoiler.open .spoiler__arrow {
    transform: rotate(180deg);
}
/*Spoiler end*/

/*Input*/
.input {
    width: 100%;
    max-width: 575px;
    font-family: IC Pangea Text;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: right;
    color:#757575;
    border: none;
    border-bottom: 1px solid #101820;
}

.inpiut:focus {
    outline: none;
}
/*Input end*/

/*Form*/
.form {
    display: flex;
    flex-direction: column;
}
.form__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}
.form__row:last-child {
    margin-bottom: 0;
}
.form__button {
    margin-top: 8px;
    width: 150px;
    align-self: center;
}
/*Form end*/

/*Slider*/
.slider {
    accent-color: #8026FF;
    width: 100%;
    height: 1px;
    background: black;
    outline: none;
    transition: opacity .2s;
}
.slider__outPutValue {
    display: flex;
    align-content: flex-start;
    color:#101820;
}

.slider__info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: IC Pangea Text, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
    color: #101820;
    margin-top: 9px;
}

/*!** FF*!*/
/*input[type="range"]::-moz-range-progress {*/
/*    background-color: #8026FF;*/
/*}*/
/*input[type="range"]::-moz-range-track {*/
/*    background-color: #8026FF;*/
/*}*/
/*!* IE*!*/
/*input[type="range"]::-ms-fill-lower {*/
/*    background-color: #8026FF;*/
/*}*/
/*input[type="range"]::-ms-fill-upper {*/
/*    background-color: #8026FF;*/
/*}*/
/*Slider end*/


/*section1*/
.section1{
    padding-left: 0;
    padding-right: 0;
    display: flex;
    background: #FFFFFF;
    align-content: center;
    align-items: center;
    color: #000000;
}

.section1__link {
    color: black;
    align-self: flex-start;
}
.section1__header {
    padding-top: 27px;
    width: 100%;
    height: 148px;
    background-color: #8B3AFD;
    background-image: url("/assets/images/header-background.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    align-items: center;
    align-content: flex-start;
}
.section1__content {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
}
.section1__callToAction {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 27px;
    margin-bottom: 27px;
}
.section1__callToAction .button{
  flex-grow: 1;
}
.section1__logo {
    width: 129px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 17px;
}
.section1__logoImage {
    width: 100%;
    height: 100%;
}

.section1__card {
    display: flex;
    margin-bottom: 27px;
    width: 42.666%;
    align-self: center;
}
.section1__cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: block;
}

.section1 .h3-semi-bold, .section1 .h5 {
    align-self: flex-start;
}
/*Section 1 end*/


/*Section 2*/
.section2 {
    display: flex;
    background: #F6F6F6;
    align-content: center;
    align-items: center;
    color: #000000;
    flex-direction: column;
    padding: 27px 24px;
}

.section2 .h3-semi-bold{
    text-align: center;
    margin-bottom: 8px;
}
.section2 .h4{
    text-align: center;
    margin-bottom: 29px;
}

.section2__slider{
    text-align: center;
    margin-bottom: 24px;
    width: 100%;
}
.section2__slider .h6 {
    color: #757575;
}
.section2__slider .slider {
    width: 100% ;
}

.section2__slider p {
    font-family: 'IC Pangea Text', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #757575;
}
.section2__expectedReturn {
    padding-top: 11px;
    background: #FFFFFF;
    width: calc(100% - 72px);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}

.section2__expectedReturn .h1 {
    text-align: center;
}
/*Section2 end*/


/*Section3*/
.section3{
    margin-bottom: 40px;
}

.section3 .h4-semi-bold {
    text-align: right;
    margin-right: 56px;
}
.section3__callToAction {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 27px;
    margin-bottom: 27px;
}
.section3__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 27px;
}

.section3__listItem {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    flex-direction: row;
    width: 100%;
    align-items: center;
    align-content: center;
    margin-bottom: 16px;
    padding: 0 24px;
}
.section3__listItem .h5-semi-bold {
    margin-left: 16px;
}

.section3__listItemIcon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Section3* end/

/*Section4*/
.section5{
}
.section5 .h4-semi-bold {
    text-align: right;
    margin-bottom: 24px;
}
/*!*Section4 end */

/*Section5*/
.section6{
    margin-top: 48px;
    padding-bottom: 24px;
}
.section6__legalTerms {
    color: #757575
}
/*Section5 end*/


